* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

.navbar {
    background: #1b1b1b;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 65px;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-left li {
    margin-right: 25px;
}

.navbar li a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.navbar li a:hover {
    text-decoration: underline;
}

.navbar li button {
    font-size: 18px;
    color: #fff;
    background: #ce0000;
    border-radius: 6px;
    outline: none;
    border: none;
    width: 110px;
    height: 35px;
}

.navbar li button:hover{
    background: #970000;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 900px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.85)), url('img/fitness.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 30px;
}

.main_texts {
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_btn {
    margin-top: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 180px;
    height: 60px;
    border-radius: 15px;
    font-size: 22px;
    background: #ce0000;
    color: #fff;
    font-weight: 500;
    border: none;
    outline: none;
}

.main button:hover {
    background-color: #970000;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 800px;
    padding: 30px 0;
    background-color: #131313;
}

.product-container {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    align-items: center;
    background-color: #000;
    width: 300px;
    height: 380px;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.products img {
    padding: 10px 10px;
    width: 270px;
    height: auto;
    border-radius: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.btn button {
    font-size: 16px;
    color: #fff;
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    background: #ce0000;
    border-radius: 10px;
}

@media screen and (max-width: 1260px) {
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 100%;
        height: 1200px;
        padding: 30px 0;
        background-color: #131313;
    }
}

@media screen and (max-width: 940px) {
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 100%;
        height: 1600px;
        padding: 30px 0;
        background-color: #131313;
    }
}

@media screen and (max-width: 820px) {
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 100%;
        height: 3300px;
        padding: 30px 0;
        background-color: #131313;
    }
}

.footer {
    font-size: 18px;
    width: 100%;
    height: 250px;
    background-color: #111111;
}